.nav {
  padding: 15px;
  background: $black;
  .navbar-header {
    display: inline-block;
    color: $white;
  }
  
  .nav-bar {
    
  }

  .nav-bar__item {
    display: inline-block;
    color: $white;
  }
}